/* ---  Partner teaser view  --- */

.partner-teaser {
  border-left: 1px solid #A5A5A5;
  border-right: none;
}

.partner-teaser.viesws-row-last {
  border-left: none;
  border-right: none;
}

.partner-teaser .partner-link a:after {
  padding: 0 5px 0 0;
}

.partner-mini-teaser .partner-link a:before {
  padding: 0 0 0 5px;
}

.node-partner.view-mode-full .partner-logo {
  margin-left: 15px;
  margin-right: auto;
}

.partner-all .partner-all-logo {
  float: right;
  margin: 0 0 15px 15px;
}

.partner-mini-teaser .partner-link {
  text-align: left;
}

/* --- Publication --- */

.view-newsletter .newsletter-pub-image {
  float: right;
  margin-left: 15px;
  margin-right: auto;
}

.latest-newsletter .view-content {
  float: right;
}

.news-publication-item.views-row-odd {
  clear: right;
}

.news-publication-item.views-row-even {
  clear: left;
}

/* --- Newsletter --- */

.sidebar-newsletter.views-row-odd {
  padding-right: 0;
  padding-left: 15px;
}

.sidebar-newsletter.views-row-even {
  padding-left: 0;
  padding-right: 15px;
}

.partner-teaser .partner-link a:after {
  content: "\f137"; 
}
