@media (min-width: 992px) and (max-width: 1199px) {
	.page-campus-life #main-content {
		width: 100%;
	}

  .page-campus-life #campus-life .panels-flexible-region-inside,
  .panels-flexible-region-471-center-inside {
    width: 992px;
    margin-right: auto;
    margin-left: auto;
  }
}