/* Small devices (tablets, 768px and up)  RTL */
@media (min-width: 768px) {

    .research-project-team .researcher-role {
      float: right;
      padding-left: 15px;
      padding-right: 15px;
    }

    .research-project-team .researcher-bio {
      padding-left: 0;
      padding-right: 15px;
    }
}

/* Small devices (tablets, less than 768px) */
@media (max-width: 768px) { 
  
  /*************** Research Centers tabs ***********/
  #quicktabs-research_center ul.quicktabs-tabs.quicktabs-style-navlist li.active {
    border-right: 0;
    border-left: 1px solid #a5a5a5;
  }
  
  #quicktabs-research_center ul.quicktabs-tabs.quicktabs-style-navlist li {
    float: right;
  }
}